.content-header{
    width: 60%;
    margin: 120px auto 0;
    text-align: center;

    .site-off{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{            
            width: 150px;
            opacity: 0;
            animation: mucoAnim 2s ease-in-out forwards;                   
        }  
        
        button{
            margin: 20px 0;
            font-family: $font-1;
            letter-spacing: 2px;
            font-weight: bold;
            background: $color-1;
            padding: 10px 20px;
            border-radius: 30px;
            border: 2px solid white;
            cursor: pointer;
            transition: 0.5s;
            opacity: 0;
            animation: mucoAnim 4s ease-in-out forwards;

            &:hover{
                border: 2px solid $color-1;
                background: white;
                color: $color-1;
            }
        }       
    }    
}

.content-header::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 30%;    
    transform: translate(-50%);
    background: rgb(191, 229, 226);
    border-radius: 10px;
   
}

@keyframes mucoAnim {
    0% {
      opacity: 0;;
    }
    100% {
      opacity: 1;
    }
  }

  .new-trail{
    margin: 10px auto 0;
    width: 60%;
    overflow: hidden;
    box-sizing: content-box;
    
    
    img{
        width: 100%;
        min-width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 10px;      
         
        
    }
  }

  .why-trail{
    display: flex;
    gap: 5px;
    width: 60%;
    min-width: 60%;  
    margin: 50px auto;    
    color: white;
    border-radius: 5px;
    font-family: $font-1;
    font-size: 1.2rem;
    line-height: 2rem;

  }

  .why-trail-left{
    background-color: $color-1;
    padding: 5px 20px;
    width: 60%;
    border-radius: 10px;

    h1,h3,.align {
        text-align: center;
        margin: 30px 0;
    }

    i{
      background: white;
      color: $color-1;
      padding: 10px;
      margin-right: 1rem;
      border-radius: 100px;
      font-size: 2rem;
      text-align: center;
    }

    h2{
      margin: 20px 0;
    }
    .align {
      margin: 30px 0
    }
  }   

  .why-trail-right {
    width: 40%;    
    background-color: rgba(0, 142, 130, 0.217);
    border-radius: 10px;
    display: flex;
  }

  .why-trail-right img{    
    width: 100%;
    display: block;
    margin: auto 0;
    border-radius: 10px;
             
    
  }


  @media screen and (max-width:1050px){

   

  }