.container-section-program{
    display: flex;
    gap: 10px;
    width: 80%;
    min-width: 60%;
    margin: 0 auto 200px;
    color: white;
    border-radius: 5px;
    font-family: $font-1;
    font-size: 1.2rem;
    line-height: 2rem;
    
.program{
     text-align: center;
     font-weight: bold;
     margin: 0 auto;

     img{
      max-width: 100%;
      height: auto;
        border-radius: 30px;
     }

     ul li{   
        width: 70%;
        text-align: start;
        margin: 0 auto;     
        
     }
    }
    
}


